include ../partials/header
body
	table(style='width:100%')
		tr
			td.td1
				p Card Name: #{result.name}
				p Artist: #{result.artist}
				p Attack: #{result.attack}
				p Class: #{result.cardClass}
				p Rarirty: #{result.rarity}